services:
  backend:
    build:
      context: ./backend
      dockerfile: dockerfile
    volumes:
      - dist:/app/dist:ro

  frontend:
    build:
      context: ./frontend
      dockerfile: dockerfile
    volumes:
      - dist:/app/dist:ro

  postgres:
    image: postgres:17.6
    restart: always
    environment:
      POSTGRES_USER: chatbot
      POSTGRES_PASSWORD: chatbot
      POSTGRES_DB: chatbot
    ports:
      - 5432:5432
    volumes:
      - postgres_data:/var/lib/postgresql/data

  nginx:
    image: nginx:1.29-alpine-slim
    ports:
      - 80:80
    volumes:
      - ./backend/nginx.conf:/etc/nginx/nginx.conf:ro
      - dist:/app/dist:ro

  ollama:
    image: ollama/ollama:latest
    ports:
      - 11434:11434
    volumes:
      - ollama:/root/.ollama

volumes:
  dist:
  ollama:
  postgres_data: