services:
  backend:
    build:
      context: ./backend
      dockerfile: dockerfile
    env_file: .env
    volumes:
      - dist:/app/dist:ro

  frontend:
    build:
      context: ./frontend
      dockerfile: dockerfile
    volumes:
      - dist:/app/dist:ro

  postgres:
    image: postgres:18.0-alpine
    restart: always
    env_file: .env
    ports:
      - 5432:5432
    volumes:
      - postgres:/var/lib/postgresql/data

  redis:
    image: redis:8.2-alpine
    ports:
      - 6379:6379

  nginx:
    image: nginx:1.29-alpine-slim
    ports:
      - 80:80
    volumes:
      - ./backend/nginx.conf:/etc/nginx/nginx.conf:ro
      - dist:/app/dist:ro

  ollama:
    image: ollama/ollama:latest
    ports:
      - 11434:11434
    volumes:
      - ollama:/root/.ollama

volumes:
  dist:
  ollama:
  postgres: