.tooltip-div {
    height: 100%;
    position: relative;
    display: inline-block;
}

.tooltip-button {
    height: 100%;
    padding: 8px 12px;
    cursor: pointer;
}

.tooltip-inner-div {
    height: 100%;
    position: absolute;
    top: 100%;
    left: 50%;
    margin-top: 5px;
    padding: 0 6px;
    align-content: center;
    border-radius: 4px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    background-color: black;
    transform: translate(-50%, 10px);
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.tooltip-button:hover+.tooltip-inner-div {
    height: 100%;
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, 0);
}