.tooltip-div {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    align-self: center;
}

.tooltip-button {
    padding: 8px 12px;
    font-size: 12px;
    outline: none;
    border-radius: 6px;
    background-color: transparent;
    transition: background-color 0.1s ease-in-out;
}

.tooltip-button:hover {
    background-color: var(--background-color5);
}

.tooltip-button:disabled {
    background-color: transparent;
    transition: none;
    pointer-events: none;
    opacity: 0.5;
}

.tooltip-inner-div {
    position: absolute;
    padding: 6px 10px;
    font-size: 12px;
    opacity: 0;
    border-radius: 8px;
    background-color: black;
    transform: translateY(35px);
    transition: opacity 0.1s ease-in-out;
}

.tooltip-button:hover+.tooltip-inner-div {
    opacity: 1;
}