#search-div {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 700px;
    max-height: 70%;
    top: 15%;
    padding: 10px;
    align-items: center;
    border-radius: 15px;
    background-color: var(--background-color4);
    z-index: 5;
}

#search-backdrop-div {
    position: absolute;
    inset: 0;
    background-color: var(--backdrop-color);
    z-index: 4;
}

#search-header-div {
    width: 90%;
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    background-color: var(--background-color3);
}

#search-input {
    width: 100%;
    padding: 10px;
    outline: none;
    background-color: transparent;
}

#search-close-button {
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    background-color: transparent;
}

#search-close-button:hover {
    background-color: var(--background-color4);
}

#search-close-button:active {
    background-color: transparent;
}

#search-entries-div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding: 10px 0 10px 0;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
}

.search-entry-a {
    width: 90%;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    background-color: var(--background-color2);
}

.search-entry-a:hover {
    background-color: var(--background-color3);
}

.search-entry-a:active {
    background-color: var(--background-color2);
}

.search-entry-a.selected {
    border-radius: 6px;
    outline: 2px solid var(--background-color1);
    background-color: var(--background-color5);
}