#buttons-div {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-self: center;
}

#toggle-sidebar-button,
#open-search-button,
#new-chat-a {
    width: 100%;
    display: flex;
    padding: 5px 0 5px 0;
    border-radius: 10px;
    align-items: center;
    outline: none;
    text-decoration: none;
    justify-content: space-around;
    background-color: transparent;
}

.buttons-icon-span {
    font-size: 30px;
}

.buttons-text-span {
    font-size: 15px;
}

#toggle-sidebar-button:hover,
#open-search-button:hover,
#new-chat-a:hover {
    background-color: var(--background-color4);
}

#toggle-sidebar-button:active,
#open-search-button:active,
#new-chat-a:active {
    background-color: transparent;
}

#sidebar-backdrop-div {
    position: absolute;
    inset: 0;
    background-color: var(--backdrop-color);
    z-index: 2;
}

#sidebar-div {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    width: 250px;
    height: 100%;
    justify-content: space-between;
    transition: width 0.3s ease, background-color 0.3s ease;
    background-color: var(--background-color2);
    z-index: 3;
}

#sidebar-div.invisible {
    width: 0;
    background-color: transparent;

    #buttons-div {
        position: absolute;
        width: auto;
        align-self: flex-start;
        margin-left: 5px;

        .buttons-icon-span {
            padding: 0 5px 0 5px;
        }

        .buttons-text-span {
            display: none;
        }
    }

    #history-div {
        margin-top: 60px;
    }
}

#sidebar-div.visible {
    width: 250px;
    background-color: var(--background-color2);

    #buttons-div {
        position: static;
    }

    #history-div {
        margin-top: 0;
    }
}

@media(max-width: 700px) {
    #sidebar-div {
        position: absolute;
        left: 0;
    }
}

#history-div {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 10px;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
    white-space: nowrap;
    padding: 20px 0 20px 0;
}

.past-chat-div {
    position: relative;
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
}

.past-chat-div:hover,
.past-chat-div.selected:hover {
    background-color: var(--background-color5);
}

.past-chat-div.selected {
    background-color: var(--background-color4);
}

.past-chat-a {
    width: 100%;
    padding: 10px 15px 10px 15px;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    border-radius: 10px;
}

.past-chat-dropdown-button {
    width: 35px;
    height: 100%;
    border-radius: 10px;
    background-color: transparent;
    opacity: 0;
    pointer-events: none;
    outline: none;
    transition: opacity 0.2s;
}

.past-chat-div:hover .past-chat-dropdown-button {
    opacity: 1;
    pointer-events: auto;
}

.past-chat-div.dropdown-open .past-chat-dropdown-button {
    opacity: 1;
    pointer-events: auto;
}

.past-chat-div:hover .past-chat-dropdown-button {
    opacity: 1;
    pointer-events: auto;
}

.past-chat-div .past-chat-dropdown-div~.past-chat-dropdown-button,
.past-chat-div .past-chat-dropdown-div.open-upwards~.past-chat-dropdown-button {
    opacity: 1;
    pointer-events: auto;
}

.past-chat-dropdown-div {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 0.25em;
    top: 35px;
    right: 0px;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--background-color5);
    z-index: 1;
}

.past-chat-dropdown-div.open-upwards {
    top: auto;
    bottom: 35px;
}

.past-chat-rename-button,
.past-chat-delete-button {
    padding: 10px;
    font-size: 17px;
    border-radius: 10px;
    background-color: transparent;
}

.past-chat-rename-button:hover {
    background-color: var(--background-color4);
}

.past-chat-rename-button:active {
    background-color: var(--background-color3);
}

.past-chat-delete-button {
    color: rgb(240, 100, 100)
}

.past-chat-delete-button:hover {
    background-color: var(--red-color2);
}

.past-chat-delete-button:active {
    background-color: var(--red-color1);
}

.past-chat-rename-input {
    font-size: 1em;
    padding: 0.2em;
    width: 100%;
    box-sizing: border-box;
    font-size: 14px;
    outline: none;
    border-radius: 10px;
    padding: 10px 15px 10px 15px;
    background-color: var(--background-color5);
}