.git/
.gitignore

.dockerignore
compose.yaml
devcontainer.json
dockerfile

.vscode/

__pycache__/
.pytest_cache/
.venv/
chat_temp/
ollama/
static_files/
.coverage
.coverage.*

dist/
node_modules/
test-results/

secrets/