services:
  app:
    build:
      context: ..
      dockerfile: .devcontainer/dockerfile
    command: sleep infinity
    volumes:
      - ..:/app:cached
    depends_on:
      - postgres

  postgres:
    image: postgres:17.6
    restart: always
    environment:
      POSTGRES_USER: chatbot
      POSTGRES_PASSWORD: chatbot
      POSTGRES_DB: chatbot
    ports:
      - 5432:5432
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:8.2-alpine
    ports:
      - 6379:6379

volumes:
  postgres_data: