services:
  app:
    build:
      context: ..
      dockerfile: .devcontainer/dockerfile
    command: sleep infinity
    env_file: .env
    volumes:
      - ..:/app:cached

  postgres:
    image: postgres:17.6-alpine
    restart: always
    env_file: .env
    ports:
      - 5432:5432
    volumes:
      - postgres:/var/lib/postgresql/data

  redis:
    image: redis:8.2-alpine
    ports:
      - 6379:6379

volumes:
  postgres: