services:
    app:
        build:
            context: ..
            dockerfile: .devcontainer/dockerfile
        command: sleep infinity
        env_file: .env
        volumes:
            - ..:/app:cached
            - venv:/app/backend/.venv:cached
            - node_modules:/app/frontend/node_modules:cached

    redis:
        image: redis:8.2-alpine

    ollama:
        image: alpine/ollama:0.12.9

volumes:
    venv:
    node_modules: