services:
    app:
        build:
            context: ..
            dockerfile: .devcontainer/dockerfile
        command: sleep infinity
        env_file: .env
        volumes:
            - ..:/app:cached
            - venv:/app/backend/.venv:cached
            - node_modules:/app/frontend/node_modules:cached

    postgres:
        image: postgres:18.1-alpine
        env_file: .env
        volumes:
            - postgres:/var/lib/postgresql/data

    redis:
        image: redis:8.4-alpine

    ollama:
        image: chatbot-ollama
        build:
            context: ../backend/ollama
            dockerfile: dockerfile

    mailpit:
        image: axllent/mailpit
        ports:
            - 1025:1025
            - 8025:8025
        restart: unless-stopped

volumes:
    venv:
    node_modules:
    postgres: