services:
  app:
    build:
      context: ..
      dockerfile: .devcontainer/dockerfile
    command: sleep infinity
    env_file: .env
    volumes:
      - ..:/app:cached
      - venv:/app/backend/.venv:cached
      - node_modules:/app/frontend/node_modules:cached

  postgres:
    image: postgres:18.0-alpine
    restart: always
    env_file: .env
    ports:
      - 5432:5432
    volumes:
      - postgres:/var/lib/postgresql/data

  redis:
    image: redis:8.2-alpine
    ports:
      - 6379:6379

volumes:
  postgres:
  venv:
  node_modules: