html,
body {
    display: flex;
}

#logout-button {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    align-self: start;
    background-color: var(--background-color5);
}

#logout-button {
    position: absolute;
    right: 0;
}

#logout-button:hover {
    background-color: var(--background-color4);
}

#logout-button:active {
    background-color: var(--background-color5);
}

#buttons-div {
    position: absolute;
    display: flex;
    width: 250px;
    left: 0;
    align-self: flex-start;
    align-items: center;
    justify-content: space-between;
    transition: background-color 0.3s ease;
    background-color: var(--background-color2);
}

#buttons-div.invisible {
    background-color: transparent;
}

#buttons-div.visible {
    background-color: var(--background-color2);
}

#toggle-sidebar-button,
#new-chat-button {
    width: 100%;
    height: 50px;
    font-size: 30px;
    align-content: center;
    text-align: center;
    border-radius: 10px;
    outline: none;
    background-color: transparent;
}

#toggle-sidebar-button:hover,
#new-chat-button:hover {
    background-color: var(--background-color4);
}

#toggle-sidebar-button:active,
#new-chat-button:active {
    background-color: transparent;
}

#sidebar-div {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    gap: 10px;
    width: 250px;
    padding: 20px 0 20px 0;
    height: calc(100% - 90px);

    align-items: center;
    align-self: flex-end;
    justify-self: left;

    overflow-x: hidden;
    overflow-y: scroll;
    white-space: nowrap;

    transition: width 0.3s ease, opacity 0.3s ease;
    background-color: var(--background-color2);
}

#sidebar-div.invisible {
    width: 0;
    opacity: 0;
}

#sidebar-div.visible {
    width: 250px;
    opacity: 1;
}

.past-chat-a {
    width: 80%;
    padding: 10px 15px 10px 15px;
    border-radius: 15px;
    text-decoration: none;
    font-size: 17px;
    background-color: var(--background-color4);
}

.past-chat-a:hover {
    text-decoration: underline;
}

#chat-div {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    overflow: hidden;
}

#messages-div {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
}

.user-message-div,
.bot-message-div {
    margin: 0 0 25px 0;
    padding: 10px;
    border-radius: 10px;
    word-break: break-word;
    white-space: pre-wrap;
}

.user-message-div {
    max-width: 50%;
    margin-right: 15%;
    align-self: flex-end;
    background-color: var(--background-color2);
}

.user-message-div+.copy-button {
    margin-right: 15%;
    background-color: var(--background-color4);
}

.user-message-div+.copy-button:active {
    background-color: var(--background-color4);
}

.bot-message-div {
    width: 60%;
    align-self: center;
    background-color: var(--background-color4);

    p {
        margin: 0;
        padding: 0;
    }

    pre {
        padding: 5px 15px 10px 15px;
    }

    .code-block-header-div {
        display: flex;
        height: 40px;
        padding: 0 20px 0 20px;
        align-items: center;
        justify-content: space-between;
        background-color: var(--background-color2);
    }

    .code-block-header-p {
        font-size: 17px;
    }

    .code-block-header-button {
        padding: 5px 10px 5px 10px;
        font-size: 14px;
        border-radius: 10px;
        background-color: var(--background-color3);
    }

    .code-block-header-button:hover {
        background-color: var(--background-color4);
    }

    .code-block-header-button:active {
        background-color: var(--background-color3);
    }

    .codehilite {
        overflow: hidden;
        border-radius: 10px;
    }
}

.bot-message-div+.copy-button {
    margin-right: calc(20% - 15px);
    background-color: var(--background-color2);
}

.bot-message-div+.copy-button:active {
    background-color: var(--background-color2);
}

.copy-button {
    position: relative;
    top: -22px;
    padding: 5px 10px;
    align-self: flex-end;
    font-size: 12px;
    border-radius: 5px;
}

.copy-button:hover {
    background-color: var(--background-color3);
}

#prompt-textarea {
    width: 60%;
    height: auto;
    margin: 0 0 25px 0;
    padding: 10px;
    align-content: center;
    resize: none;
    outline: none;
    border-radius: 10px;
    background-color: var(--background-color4);
}