:root {
    --red-color1: rgb(120, 40, 20);
    --red-color2: rgb(150, 40, 20);
    --backdrop-color: rgb(0, 0, 0, 0.4);
}

html,
body {
    display: flex;
}

#open-settings-button {
    position: absolute;
    right: 0;
    margin: 10px;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    align-self: start;
    background-color: var(--background-color5);
    z-index: 1;
}

#open-settings-button:hover {
    background-color: var(--background-color4);
}

#open-settings-button:active {
    background-color: var(--background-color5);
}

#settings-div {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 500px;
    padding: 25px;
    border-radius: 10px;
    align-items: center;
    background-color: var(--background-color4);
    z-index: 5;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(0.95);
    }
}

.fade-in {
    animation: fadeIn 0.3s ease-out forwards;
}

.fade-out {
    animation: fadeOut 0.3s ease-in forwards;
}

#settings-backdrop-div {
    position: absolute;
    inset: 0;
    background-color: var(--backdrop-color);
    z-index: 4;
}

#settings-p {
    align-self: center;
    font-size: 30px;
}

#close-settings-button {
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    background-color: transparent;
}

#close-settings-button:hover {
    background-color: var(--background-color2);
}

#close-settings-button:active {
    background-color: transparent;
}

#delete-chats-button:hover,
#delete-account-button:hover {
    background-color: var(--red-color2);
}

#delete-chats-button:hover,
#delete-account-button:active {
    background-color: var(--red-color1);
}

#logout-button:hover {
    background-color: var(--background-color3);
}

#logout-button:active {
    background-color: var(--background-color2);
}

#theme-select-div,
#delete-chats-button-div,
#delete-account-button-div,
#logout-button-div {
    display: flex;
    width: 90%;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    border: solid var(--background-color5) 3px;
}

#theme-select,
#delete-chats-button,
#delete-account-button,
#logout-button {
    width: 40%;
    padding: 5px 0 5px 0;
    text-align: center;
    border: solid var(--background-color1) 2px;
    border-radius: 10px;
    outline: none;
    background-color: var(--background-color2);
}

#buttons-div {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-self: center;
}

#toggle-sidebar-button,
#open-search-button,
#new-chat-a {
    width: 100%;
    display: flex;
    padding: 5px 0 5px 0;
    border-radius: 10px;
    align-items: center;
    outline: none;
    text-decoration: none;
    justify-content: space-around;
    background-color: transparent;
}

.buttons-icon-span {
    font-size: 30px;
}

.buttons-text-span {
    font-size: 15px;
}

#toggle-sidebar-button:hover,
#open-search-button:hover,
#new-chat-a:hover {
    background-color: var(--background-color4);
}

#toggle-sidebar-button:active,
#open-search-button:active,
#new-chat-a:active {
    background-color: transparent;
}

#sidebar-backdrop-div {
    position: absolute;
    inset: 0;
    background-color: var(--backdrop-color);
    z-index: 2;
}

#sidebar-div {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    width: 250px;
    height: 100%;
    justify-content: space-between;
    transition: width 0.3s ease, background-color 0.3s ease;
    background-color: var(--background-color2);
    z-index: 3;
}

#sidebar-div.invisible {
    width: 0;
    background-color: transparent;

    #buttons-div {
        position: absolute;
        width: auto;
        align-self: flex-start;
        margin-left: 5px;

        .buttons-icon-span {
            padding: 0 5px 0 5px;
        }

        .buttons-text-span {
            display: none;
        }
    }

    #history-div {
        margin-top: 60px;
    }
}

#sidebar-div.visible {
    width: 250px;
    background-color: var(--background-color2);

    #buttons-div {
        position: static;
    }

    #history-div {
        margin-top: 0;
    }
}

@media(max-width: 700px) {
    #sidebar-div {
        position: absolute;
        left: 0;
    }
}

#history-div {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 10px;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
    white-space: nowrap;
    padding: 20px 0 20px 0;
}

.past-chat-div {
    position: relative;
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
}

.past-chat-div:hover,
.past-chat-div.selected:hover {
    background-color: var(--background-color5);
}

.past-chat-div.selected {
    background-color: var(--background-color4);
}

.past-chat-a {
    width: 100%;
    padding: 10px 15px 10px 15px;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    border-radius: 10px;
}

.past-chat-dropdown-button {
    width: 35px;
    height: 100%;
    border-radius: 10px;
    background-color: transparent;
    opacity: 0;
    pointer-events: none;
    outline: none;
    transition: opacity 0.2s;
}

.past-chat-div:hover .past-chat-dropdown-button {
    opacity: 1;
    pointer-events: auto;
}

.past-chat-div.dropdown-open .past-chat-dropdown-button {
    opacity: 1;
    pointer-events: auto;
}

.past-chat-div:hover .past-chat-dropdown-button {
    opacity: 1;
    pointer-events: auto;
}

.past-chat-div .past-chat-dropdown-div~.past-chat-dropdown-button,
.past-chat-div .past-chat-dropdown-div.open-upwards~.past-chat-dropdown-button {
    opacity: 1;
    pointer-events: auto;
}

.past-chat-dropdown-div {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 0.25em;
    top: 35px;
    right: 0px;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--background-color5);
    z-index: 1;
}

.past-chat-dropdown-div.open-upwards {
    top: auto;
    bottom: 35px;
}

.past-chat-rename-button,
.past-chat-delete-button {
    padding: 10px;
    font-size: 17px;
    border-radius: 10px;
    background-color: transparent;
}

.past-chat-rename-button:hover {
    background-color: var(--background-color4);
}

.past-chat-rename-button:active {
    background-color: var(--background-color3);
}

.past-chat-delete-button {
    color: rgb(240, 100, 100)
}

.past-chat-delete-button:hover {
    background-color: var(--red-color2);
}

.past-chat-delete-button:active {
    background-color: var(--red-color1);
}

.past-chat-rename-input {
    font-size: 1em;
    padding: 0.2em;
    width: 100%;
    box-sizing: border-box;
    font-size: 14px;
    outline: none;
    border-radius: 10px;
    padding: 10px 15px 10px 15px;
    background-color: var(--background-color5);
}

#search-div {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 700px;
    max-height: 70%;
    top: 15%;
    padding: 10px;
    align-items: center;
    border-radius: 15px;
    background-color: var(--background-color4);
    z-index: 5;
}

#search-backdrop-div {
    position: absolute;
    inset: 0;
    background-color: var(--backdrop-color);
    z-index: 4;
}

#search-header-div {
    width: 90%;
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    background-color: var(--background-color3);
}

#search-input {
    width: 100%;
    padding: 10px;
    outline: none;
    background-color: transparent;
}

#search-close-button {
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    background-color: transparent;
}

#search-close-button:hover {
    background-color: var(--background-color4);
}

#search-close-button:active {
    background-color: transparent;
}

#search-entries-div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding: 10px 0 10px 0;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
}

.search-entry-a {
    width: 90%;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    background-color: var(--background-color2);
}

.search-entry-a:hover {
    background-color: var(--background-color3);
}

.search-entry-a:active {
    background-color: var(--background-color2);
}

.search-entry-a.selected {
    border-radius: 6px;
    outline: 2px solid var(--background-color1);
    background-color: var(--background-color5);
}

#chat-div {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    overflow: hidden;
    transition: opacity 0.3s, filter 0.3s;
}

#messages-div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 40%;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
    opacity: 0;
    transition: height 0.4s ease-in-out, opacity 0.4s ease-in-out;
}

#messages-div.expanded {
    height: 100%;
    opacity: 1;
}

.user-message-items-div,
.bot-message-items-div {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.user-message-items-div {
    align-items: flex-end;

    .attachment-items-div {
        flex-direction: column;
        width: auto;
    }

    .user-message-footer-div {
        opacity: 0;
    }
}

.user-message-items-div:hover {
    .user-message-footer-div {
        opacity: 1;
    }
}

.user-message-div,
.bot-message-div {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    word-break: break-word;
    white-space: pre-wrap;
}

.user-message-div {
    background-color: var(--background-color2);
}

.message-editor-div {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 5px;
    padding: 5px;
    align-self: flex-end;
    border-radius: 10px;
    background-color: var(--background-color5);
    transform: translateX(5px);

    textarea {
        padding: 10px;
        align-content: center;
        resize: none;
        outline: none;
        background-color: transparent;
    }

    div {
        display: flex;
        gap: 10px;
        align-self: flex-end;

        button {
            font-size: 17px;
        }
    }
}

.bot-message-div {
    background-color: var(--background-color4);

    p {
        margin: 0;
        padding: 0;
    }

    pre {
        padding: 5px 15px 10px 15px;
        overflow-x: auto;
        overflow-y: hidden;
    }

    .code-block-header-div {
        display: flex;
        height: 40px;
        padding: 0 20px 0 20px;
        align-items: center;
        justify-content: space-between;
        background-color: var(--background-color2);
    }

    .code-block-header-p {
        font-size: 17px;
    }

    .code-block-header-button {
        padding: 5px 10px 5px 10px;
        font-size: 14px;
        border-radius: 10px;
        background-color: var(--background-color3);
    }

    .code-block-header-button:hover {
        background-color: var(--background-color4);
    }

    .code-block-header-button:active {
        background-color: var(--background-color3);
    }

    .codehilite {
        overflow: hidden;
        border-radius: 10px;
    }
}

.message-button {
    padding: 3px 8px;
    font-size: 12px;
    border-radius: 5px;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
}

.message-button:hover {
    background-color: var(--background-color2);
}

.message-button:active {
    background-color: transparent;
}

.user-message-footer-div,
.bot-message-footer-div {
    display: flex;
    gap: 10px;
    margin-top: 3px;
    padding: 6px;
    border-radius: 10px;
    align-items: center;
    transition: background-color 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.user-message-footer-div:hover,
.bot-message-footer-div:hover {
    background-color: var(--background-color5);
}

.generating-warn-p {
    position: absolute;
    width: 50%;
    bottom: 12.5%;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--background-color1);
    transition: scale 0.5s, filter 0.5s;
}

.confirm-popup-backdrop-div {
    position: absolute;
    inset: 0;
    justify-items: center;
    align-content: center;
    background-color: var(--backdrop-color);
    z-index: 20;
}

.confirm-popup-div {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    align-items: center;
    border-radius: 10px;
    background-color: var(--background-color4);
    z-index: 21;
}

.confirm-popup-buttons-div {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.confirm-popup-confirm-button,
.confirm-popup-cancel-button {
    padding: 10px;
    border-radius: 10px;
}

.confirm-popup-cancel-button {
    background-color: var(--background-color2);
}

.confirm-popup-cancel-button:hover {
    background-color: var(--background-color1);
}

.confirm-popup-cancel-button:active {
    background-color: var(--background-color1);
}

.confirm-popup-confirm-button {
    background-color: var(--red-color2);
}

.confirm-popup-confirm-button:hover {
    background-color: var(--red-color1);
}

.confirm-popup-confirm-button:active {
    background-color: var(--red-color2);
}

#new-chat-h1 {
    margin-bottom: 50px;
    font-size: 30px;
}

#prompt-div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 60%;
    margin: 0 0 25px 0;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--background-color4);
}

#prompt-textarea {
    padding: 10px;
    align-content: center;
    resize: none;
    outline: none;
    background-color: transparent;
}

#prompt-footer-div {
    display: flex;
    justify-content: space-between;
}

#model-select {
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: 2px solid;
    font-size: 15px;
    border-color: var(--background-color1);
    background-color: var(--background-color3);
}

.model-select-option {
    font-size: 15px;
}

#attachment-label {
    padding: 7px;
    font-size: 30px;
    border-radius: 10px;
}

#attachment-label:hover {
    background-color: var(--background-color2);
}

#attachment-label:active {
    background-color: transparent;
}

#attachment-input {
    display: none;
}

.attachment-items-div {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    width: 61%;
    margin-bottom: 5px;
}

.attachment-item-div {
    position: relative;
    display: flex;
    width: 250px;
    gap: 5px;
    padding: 5px;
    align-items: center;
    align-self: flex-start;
    overflow: hidden;
    border-radius: 10px;
    background-color: var(--background-color4);
}

.attachment-remove-button {
    position: absolute;
    padding: 3px 5px 3px 5px;
    font-size: 12px;
    top: 0;
    right: 0;
    border-radius: 10px;
    background-color: transparent;
    transform: translate(-4px, 4px);
    z-index: 1;
}

.attachment-remove-button:hover {
    background-color: var(--background-color2);
}

.attachment-icon-h1 {
    padding: 10px;
    border-radius: 10px;
    align-content: center;
    font-size: 15px;
    background-color: var(--background-color2);
}

.attachment-info-div {
    display: flex;
    flex-direction: column;
}

.attachment-file-h1,
.attachment-type-p {
    width: 190px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 15px;
}