:root {
    --red-color1: rgb(120, 40, 20);
    --red-color2: rgb(150, 40, 20);
    --backdrop-color: rgb(0, 0, 0, 0.4);
}

html,
body {
    display: flex;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(0.95);
    }
}

.fade-in {
    animation: fadeIn 0.3s ease-out forwards;
}

.fade-out {
    animation: fadeOut 0.3s ease-in forwards;
}

#sidebar-backdrop-div {
    position: absolute;
    inset: 0;
    background-color: var(--backdrop-color);
    z-index: 2;
}