html,
body {
    display: flex;
}

#open-settings-button {
    margin: 10px;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    align-self: start;
    background-color: var(--background-color5);
}

#open-settings-button {
    position: absolute;
    right: 0;
}

#open-settings-button:hover {
    background-color: var(--background-color4);
}

#open-settings-button:active {
    background-color: var(--background-color5);
}

#settings-div {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 500px;
    padding: 25px;
    border-radius: 10px;
    align-items: center;
    background-color: var(--background-color4);
    z-index: 3;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(0.95);
    }
}

.fade-in {
    animation: fadeIn 0.3s ease-out forwards;
}

.fade-out {
    animation: fadeOut 0.3s ease-in forwards;
}

#settings-backdrop-div {
    position: absolute;
    inset: 0;
    background-color: rgb(0, 0, 0, 0.4);
    z-index: 2;
}

#settings-p {
    align-self: center;
    font-size: 30px;
}

#close-settings-button {
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    background-color: transparent;
}

#close-settings-button:hover {
    background-color: var(--background-color2);
}

#close-settings-button:active {
    background-color: transparent;
}

#delete-chats-button:hover,
#delete-account-button:hover {
    background-color: rgb(150, 40, 20);
}

#delete-chats-button:hover,
#delete-account-button:active {
    background-color: rgb(120, 40, 20);
}

#logout-button:hover {
    background-color: var(--background-color3);
}

#logout-button:active {
    background-color: var(--background-color2);
}

#theme-select-div,
#delete-chats-button-div,
#delete-account-button-div,
#logout-button-div {
    display: flex;
    width: 90%;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    border: solid var(--background-color5) 3px;
}

#theme-select,
#delete-chats-button,
#delete-account-button,
#logout-button {
    width: 40%;
    padding: 5px 0 5px 0;
    text-align: center;
    border: solid var(--background-color1) 2px;
    border-radius: 10px;
    outline: none;
    background-color: var(--background-color2);
}

#buttons-div {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-self: center;
}

#toggle-sidebar-button,
#open-search-button,
#new-chat-a {
    width: 100%;
    display: flex;
    padding: 5px 0 5px 0;
    border-radius: 10px;
    align-items: center;
    outline: none;
    text-decoration: none;
    justify-content: space-around;
    background-color: transparent;
}

.buttons-icon-span {
    font-size: 30px;
}

.buttons-text-span {
    font-size: 15px;
}

#toggle-sidebar-button:hover,
#open-search-button:hover,
#new-chat-a:hover {
    background-color: var(--background-color4);
}

#toggle-sidebar-button:active,
#open-search-button:active,
#new-chat-a:active {
    background-color: transparent;
}

#sidebar-div {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    width: 250px;
    height: 100%;
    justify-content: space-between;
    transition: width 0.3s ease, background-color 0.3s ease;
    background-color: var(--background-color2);
}

#sidebar-div.invisible {
    width: 0;
    background-color: transparent;

    #buttons-div {
        position: absolute;
        width: auto;
        align-self: flex-start;
        margin-left: 5px;

        .buttons-icon-span {
            padding: 0 5px 0 5px;
        }

        .buttons-text-span {
            display: none;
        }
    }

    #history-div {
        margin-top: 60px;
    }
}

#sidebar-div.visible {
    width: 250px;
    background-color: var(--background-color2);

    #buttons-div {
        position: static;
    }

    #history-div {
        margin-top: 0;
    }
}

#history-div {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 10px;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
    white-space: nowrap;
    padding: 20px 0 20px 0;
}

.past-chat-div {
    position: relative;
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    background-color: var(--background-color4);
}

.past-chat-div:hover {
    .past-chat-dropdown-button {
        display: inline-block;
    }
}

.past-chat-a {
    width: 100%;
    padding: 10px 15px 10px 15px;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    border-radius: 10px;
}

.past-chat-a:hover {
    background-color: var(--background-color5);
}

.past-chat-dropdown-button {
    display: none;
    padding-right: 10px;
    height: 100%;
    border-radius: 10px;
    background-color: transparent;
}

.past-chat-dropdown-button:hover {
    background-color: var(--background-color5);
}

.past-chat-dropdown-button:active {
    background-color: transparent;
}

.past-chat-dropdown-div {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 0.25em;
    top: 35px;
    right: 0px;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--background-color5);
    z-index: 1;
}

.past-chat-rename-button,
.past-chat-delete-button {
    padding: 10px;
    font-size: 17px;
    border-radius: 10px;
    background-color: transparent;
}

.past-chat-rename-button:hover {
    background-color: var(--background-color4);
}

.past-chat-rename-button:active {
    background-color: var(--background-color3);
}

.past-chat-delete-button:hover {
    background-color: rgb(150, 40, 20);
}

.past-chat-delete-button:active {
    background-color: rgb(120, 40, 20);
}

.past-chat-rename-input {
    font-size: 1em;
    padding: 0.2em;
    width: 100%;
    box-sizing: border-box;
    font-size: 14px;
    outline: none;
    border-radius: 10px;
    padding: 10px 15px 10px 15px;
    background-color: var(--background-color5);
}

#search-div {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 700px;
    max-height: 70%;
    top: 15%;
    padding: 10px;
    align-items: center;
    border-radius: 15px;
    background-color: var(--background-color4);
    z-index: 3;
}

#search-backdrop-div {
    position: absolute;
    inset: 0;
    background-color: rgb(0, 0, 0, 0.4);
    z-index: 2;
}

#search-input {
    width: 90%;
    padding: 10px;
    outline: none;
    border-radius: 15px;
    background-color: var(--background-color3);
}

#search-entries-div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding: 10px 0 10px 0;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
}

.search-entry-a {
    width: 90%;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    background-color: var(--background-color2);
}

.search-entry-a:hover {
    background-color: var(--background-color3);
}

.search-entry-a:active {
    background-color: var(--background-color2);
}

#chat-div {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    overflow: hidden;
}

#messages-div {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
}

.user-message-div,
.bot-message-div {
    margin: 0 0 25px 0;
    padding: 10px;
    border-radius: 10px;
    word-break: break-word;
    white-space: pre-wrap;
}

.user-message-div {
    max-width: 50%;
    margin-right: 15%;
    align-self: flex-end;
    background-color: var(--background-color2);
}

.user-message-div+.copy-button {
    margin-right: 15%;
    background-color: var(--background-color4);
}

.user-message-div+.copy-button:active {
    background-color: var(--background-color4);
}

.bot-message-div {
    width: 60%;
    align-self: center;
    background-color: var(--background-color4);

    p {
        margin: 0;
        padding: 0;
    }

    pre {
        padding: 5px 15px 10px 15px;
        overflow-x: auto;
        overflow-y: hidden;
    }

    .code-block-header-div {
        display: flex;
        height: 40px;
        padding: 0 20px 0 20px;
        align-items: center;
        justify-content: space-between;
        background-color: var(--background-color2);
    }

    .code-block-header-p {
        font-size: 17px;
    }

    .code-block-header-button {
        padding: 5px 10px 5px 10px;
        font-size: 14px;
        border-radius: 10px;
        background-color: var(--background-color3);
    }

    .code-block-header-button:hover {
        background-color: var(--background-color4);
    }

    .code-block-header-button:active {
        background-color: var(--background-color3);
    }

    .codehilite {
        overflow: hidden;
        border-radius: 10px;
    }
}

.bot-message-div+.copy-button {
    margin-right: calc(20% - 15px);
    background-color: var(--background-color2);
}

.bot-message-div+.copy-button:active {
    background-color: var(--background-color2);
}

.copy-button {
    position: relative;
    top: -22px;
    padding: 5px 10px;
    align-self: flex-end;
    font-size: 12px;
    border-radius: 5px;
}

.copy-button:hover {
    background-color: var(--background-color3);
}

#prompt-textarea {
    width: 60%;
    height: auto;
    margin: 0 0 25px 0;
    padding: 10px;
    align-content: center;
    resize: none;
    outline: none;
    border-radius: 10px;
    background-color: var(--background-color4);
}