:root {
    --red-color1: rgb(120, 40, 20);
    --red-color2: rgb(150, 40, 20);
    --backdrop-color: rgb(0, 0, 0, 0.4);
}

html,
body {
    display: flex;
}

#open-settings-button {
    position: absolute;
    right: 0;
    margin: 10px;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    align-self: start;
    background-color: var(--background-color5);
    z-index: 1;
}

#open-settings-button:hover {
    background-color: var(--background-color4);
}

#open-settings-button:active {
    background-color: var(--background-color5);
}

#settings-backdrop-div {
    position: absolute;
    inset: 0;
    background-color: var(--backdrop-color);
    z-index: 4;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(0.95);
    }
}

.fade-in {
    animation: fadeIn 0.3s ease-out forwards;
}

.fade-out {
    animation: fadeOut 0.3s ease-in forwards;
}

#sidebar-backdrop-div {
    position: absolute;
    inset: 0;
    background-color: var(--backdrop-color);
    z-index: 2;
}