<div class="chat-admin-sessions">
    <div>
        <p><strong>Total: {{ total }}</strong></p>
        <p><strong>Active: {{ active }}</strong></p>
        <p><strong>Inactive: {{ inactive }}</strong></p>
    </div>
    {% for number, session in sessions %}
    <div>
        <div style="padding-left: 1px; font-size: 15px;">
            # {{number}}
            {% if session.logout_at == "Active" %}
            <span style="color: limegreen;">Active</span>
            {% endif %}
        </div>
        <div>
            <strong>Login:</strong> {{ session.login_at }}
        </div>
        {% if session.logout_at != "Active" %}
        <div>
            <strong>Logout:</strong> {{ session.logout_at }}
        </div>
        {% endif %}
        <div>
            <strong>IP:</strong> {{ session.ip_address|default:"N/A" }}
        </div>
        <div>
            <strong>Device:</strong> {{ session.device|default:"N/A" }}
        </div>
        <div>
            <strong>Browser:</strong> {{ session.browser|default:"N/A" }}
        </div>
        <div>
            <strong>OS:</strong> {{ session.os|default:"N/A" }}
        </div>
    </div>
    {% empty %}
    <div>No sessions found.</div>
    {% endfor %}
</div>