@import "tailwindcss";
@plugin "@tailwindcss/typography";

.prose * {
    @apply text-white light:text-black;
}

.prose h1,
.prose h2 {
    @apply border-b border-gray-300 my-3 pb-1;
}

.prose hr {
    @apply my-6;
}

.prose p {
    @apply my-2 p-0;
}

.prose pre {
    @apply m-0 p-0 border-none rounded-none bg-transparent;
}

.prose code {
    @apply px-1.5 py-1 rounded-lg text-gray-200 light:text-gray-800 bg-gray-800 light:bg-gray-200;
}

.prose code.hljs {
    @apply rounded-none;
}

.prose code::before,
code::after {
    @apply hidden;
}

.prose li {
    @apply my-0.5;
}

.prose li::marker {
    @apply text-white;
}

.Light .prose li::marker {
    @apply text-black;
}

:root {
    --scrollbar-color: theme(colors.gray.500);
}

* {
    scrollbar-color: var(--scrollbar-color) transparent;
}

@media(prefers-color-scheme: dark) {
    input::-ms-reveal {
        filter: invert(100%);
    }
}

@custom-variant hover-none {
    @media (hover: none) {
        @slot;
    }
}

@custom-variant pointer-coarse {
    @media (pointer: coarse) {
        @slot;
    }
}

@custom-variant touch {

    @media (hover: none),
    (pointer: coarse) {
        @slot;
    }
}

@custom-variant light (&:where(.Light, .Light *));

.Light {
    @import "highlight.js/styles/a11y-light.css";
}

.Dark {
    @import "highlight.js/styles/a11y-dark.css";
}