@import "tailwindcss";

:root {
    --scrollbar-color: theme(colors.gray.500);
}

* {
    scrollbar-color: var(--scrollbar-color) transparent;
}

@media(prefers-color-scheme: dark) {
    input::-ms-reveal {
        filter: invert(100%);
    }
}

@media (hover: none),
(pointer: coarse) {
    .history-menu-trigger {
        display: block !important;
        opacity: 1 !important;
    }
}

@custom-variant light (&:where(.Light, .Light *));

.Light {
    @import "highlight.js/styles/a11y-light.css";
}

.Dark {
    @import "highlight.js/styles/a11y-dark.css";
}