:root {
  --light-background-color1: rgb(180, 182, 185);
  --light-background-color2: rgb(190, 192, 195);
  --light-background-color3: rgb(200, 202, 205);
  --light-background-color4: rgb(210, 212, 215);
  --light-background-color5: rgb(220, 222, 225);

  --dark-background-color1: rgb(15, 17, 20);
  --dark-background-color2: rgb(25, 27, 30);
  --dark-background-color3: rgb(35, 37, 40);
  --dark-background-color4: rgb(45, 47, 50);
  --dark-background-color5: rgb(55, 57, 60);

  @media(prefers-color-scheme: light) {
    --background-color1: var(--light-background-color1);
    --background-color2: var(--light-background-color2);
    --background-color3: var(--light-background-color3);
    --background-color4: var(--light-background-color4);
    --background-color5: var(--light-background-color5);

    * {
      color: black;
    }
  }

  @media(prefers-color-scheme: dark) {
    --background-color1: var(--dark-background-color1);
    --background-color2: var(--dark-background-color2);
    --background-color3: var(--dark-background-color3);
    --background-color4: var(--dark-background-color4);
    --background-color5: var(--dark-background-color5);

    * {
      color: white;
    }
  }
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;

  align-content: center;
  align-items: center;
  align-self: center;
  justify-content: center;
  justify-items: center;
  justify-self: center;

  background-color: var(--background-color3);
}

html.light {
  --background-color1: var(--light-background-color1);
  --background-color2: var(--light-background-color2);
  --background-color3: var(--light-background-color3);
  --background-color4: var(--light-background-color4);
  --background-color5: var(--light-background-color5);

  * {
    color: black;
  }
}

html.dark {
  --background-color1: var(--dark-background-color1);
  --background-color2: var(--dark-background-color2);
  --background-color3: var(--dark-background-color3);
  --background-color4: var(--dark-background-color4);
  --background-color5: var(--dark-background-color5);

  * {
    color: white;
  }
}

* {
  border: none;
  font-size: 24px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  scrollbar-color: var(--background-color1) transparent;
}

a,
button {
  cursor: pointer;
}