.readonly {
    width: 100% !important;
}

.form-row.field-sessions_display label {
    display: none !important;
}

.form-row.field-sessions_display .readonly,
.form-row.field-sessions_display .field-box {
    margin-left: 0 !important;
    padding-left: 0 !important;
}

.chat-admin-sessions {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.chat-admin-sessions-content {
    display: flex;
    flex-direction: column;
    max-height: 300px;
    gap: 0.5rem;
    padding: 8px;
    overflow: auto;
    border: solid 1px;
    border-radius: 3px;

    &>:not(:first-child) {
        border-top: 1px solid #ccc;
        padding-top: 0.5rem;
    }
}

.chat-admin-sessions-revoke-button {
    padding: 7px 0;
    border: solid 1px;
    border-radius: 3px;
    cursor: pointer;
    background-color: rgb(20, 30, 40);
}

.chat-admin-sessions-revoke-button:hover {
    background-color: rgb(25, 35, 45);
}