.form-row.field-sessions_display label {
    display: none !important;
}

.form-row.field-sessions_display .readonly,
.form-row.field-sessions_display .field-box {
    margin-left: 0 !important;
    padding-left: 0 !important;
}

.chat-admin-sessions {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-width: 100%;

    &>:not(:first-child) {
        border-top: 1px solid #ccc;
        padding-top: 0.5rem;
    }
}