.form-row.field-mfa_display label {
    display: none !important;
}

.form-row.field-mfa_display .readonly,
.form-row.field-mfa_display .field-box {
    margin-left: 0 !important;
    padding-left: 0 !important;
}

.chat-admin-mfa {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.chat-admin-mfa pre {
    margin: 0;
}

.chat-admin-mfa-disable-button {
    padding: 7px 0;
    border: solid 1px;
    border-radius: 3px;
    cursor: pointer;
    background-color: rgb(20, 30, 40);
}